<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="results">
      <% <%=arr1%>.forEach(e){ %>

      <h1><% e %></h1>

      <% } %> <% <%=arr2%>.forEach(e){ %>

      <h1>
        <a> <% e %> </a>
      </h1>

      <% } %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
